* {
    font-family: 'Hind Siliguri', sans-serif;
}

.like-button {
  color: hsl(2, 50%, 50%);
  transform: scale(1.0);
  transition: 0.1s ease-in-out;
}
.like-button:hover {
  transform: scale(1.2)
}

.like-button:active {
  transform: scale(0.9);
  transition: 0.05s ease-in-out;
}

main.dark {
  background-color: hsl(0, 3%, 7%)
}